* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 700px;
    background: white;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

.input-area {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.input-area input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#taskInput {
    flex: 1;
}

button {
    border: none;
    padding: 12px 18px;
    background: #0d6efd;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #0b5ed7;
}

#taskCounter {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#searchInput {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 15px;
}

.filters,
.top-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.filters button,
.top-buttons button {
    flex: 1;
}

#emptyMessage {
    text-align: center;
    color: gray;
    margin-bottom: 20px;
}

#taskList {
    list-style: none;
}

#taskList li {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-info h3 {
    margin-bottom: 8px;
}

.task-info small {
    color: gray;
    display: block;
}

.task-buttons {
    display: flex;
    gap: 10px;
}

.completed h3 {
    text-decoration: line-through;
    opacity: 0.6;
}

.dark {
    background: #121212;
}

.dark .container {
    background: #1f1f1f;
    color: white;
}

.dark input {
    background: #2b2b2b;
    color: white;
    border: none;
}

.dark #taskList li {
    background: #2b2b2b;
}

.dark small {
    color: #ccc;
}