* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: white;
    width: 500px;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.input-area {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

button {
    padding: 12px 18px;
    border: none;
    background: #0d6efd;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #0b5ed7;
}

#taskCounter {
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

#taskList {
    list-style: none;
}

#taskList li {
    background: #f3f4f6;
    padding: 18px;
    margin-bottom: 15px;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.task-buttons {
    display: flex;
    gap: 10px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}